/* CSS Document */
body{
	
	background-image: url(/assets/images/bg/Login.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
